body {font-family:selif;
  font-size: large;}
h1 {
   position: relative;
   padding: 1rem 2rem;
   border: 4px solid #000;
 }
 
 h1:before {
   position: absolute;
   top: 4px;
   left: 4px;
   width: calc(100% - 8px);
   height: calc(100% - 8px);
   content: '';
   border: 2px solid #000;
 }
h2 {position:relative;
   display:inline-block;
   margin:1rem 0 1rem -10px ;
   padding: 1rem 3rem;
   color:orange;
   border-radius:0 100vh 100vh 0;
   background-color:red;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
   margin-right:500px;
   
}

h2:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent;
}

.emphasis {text-decoration:underline;
color:orange}

.right{float: right;margin-left:10px;
  width:550px;
height:600px;
margin-right:110px;}
#bold{font-weight:bold}

