h1{text-align: center;
color: orange;
text-shadow    : 
2px  2px 1px #052648,
-2px  2px 1px #052648,
2px -2px 1px #052648,
-2px -2px 1px #052648,
2px  0px 1px #052648,
0px  2px 1px #052648,
-2px  0px 1px #052648,
0px -2px 1px #052648;}
img{width: 900px;
    margin: auto;
    display: block;}
ul{text-align: center;}

